<!DOCTYPE html ->
<html>
    <head>
    </head>
    <body>
        <h2>Tu veux ou tu veux pas</h2>
        <h1>{{survey}}</h1>
        <ul class="answers">
            {{#answers}}
            <li {{^answer}}class="no"{{/answer}}>{{name}} veut{{^answer}} pas{{/answer}}</li>
            {{/answers}}
        </ul>
        {{#poll.refused}}<h3 class="no">On veut pas</h3>{{/poll.refused}}
        {{#poll.equals}}<h3 class="equal">On sait pas</h3>{{/poll.equals}}
        {{#poll.accepted}}<h3 class="yes">On veut</h3>{{/poll.accepted}}
        <form method="POST" action="/answer">
            <input type="hidden" name="key" value="{{key}}" />
            <input name="name" placeholder="nom" required />
            <input type="radio" name="answer" value="yes" required/>je veux
            <input type="radio" name="answer" value="no" required/>je veux pas
            <input type="submit" value="vas-y" />
        </form>
    </body>
</html>
